.filter-icon:hover {
  background-color: #5a4eb4;
  transition: background-color 0.15s ease-in-out;
}

.form-row {
  padding-top: 30px;
  padding-bottom: 3rem;
}

.filter-header {
  padding-bottom: 20px;
}

.form-control,
.form-control:focus {
  color: #d4d3de;
  border-color: #5a4eb4;
  background-color: #22202f;
}

input:focus::placeholder {
  color: transparent;
}
