.padding-bottom {
  padding-bottom: 7px;
}

.info-box {
  border: 1px solid black;
  border-radius: 3px;
  padding-left: 10px;
}

.embed-responsive {
  margin-bottom: 30px;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-text {
  color: blue;
}

.link-text:hover {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 790px) {
  /* .info-font {
    font-size: 16px;
  } */
  .desc {
    padding-top: 30px;
  }
}
