.carousel-item::before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  box-shadow: inset 0px -130px 70px 20px rgba(0, 0, 0, 0.7);
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.float-right {
  float: right;
}

/* .carousel-item {
  height: 40vh;
  background: lightgreen;
} */

/* .rls-img {
  height: 40vh;
  object-fit: cover;
} */
